// parameters
params {
    reads = "$baseDir/fastq/*_R{1,2}.fq.gz"
    gff = "$baseDir/ref/GCF_002142495.1_ASM214249v1_genomic.gbff"
    fasta = "$baseDir/ref/GCF_002142495.1_ASM214249v1_genomic.fna"
    output = 'results'
    outdir1 = "$output/trimmed_fastq/"
    outdir2 = "$output/bam/"
    outdir3 = "$output/bam_stats/"
    outdir4 = "$output/variant_call/"
    help = false
    ratio = 0.1
    ploidy = 1
}

//profile
profiles {
    conda { 
        process.conda = "$baseDir/environment.yml" 
    }
    docker {
        process.container = 'kazumax/variant_call:1.0'
        docker.enabled = true
    }
none {
    // don't load any configration (use local $PATH)
    }
}
